body {
  margin: 0;
  width: 100%
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#nav-top {
  position: absolute;
  top: 0;
  width: 600px;
  height: 60px;
  right: 0;
}

#searchbar {
  font-family: 9px;
  font-size: 10px;
}

#gmail {
  font-family: arial, sans-serif;
  max-width: 45px;
  position: relative;
  left: 343px;
  top: 23px;
  font-size: 13px;
}

#images {
  font-family: arial, sans-serif;
  margin-top: 0;
  max-width: 45px;
  margin-left: 400px;
  position: relative;
  top: 8px;
  left: -8px;
  font-size: 13px;
}

#appLogo {
  height: 21px;
  width: 21px;
  position: relative;
  left: 455px;
  bottom: 15px;
  top: -9px;
}

#notificationsLogo {
  height: 19px;
  width: 19px;
  position: relative;
  left: 501px;
  bottom: 15px;
  top: -34px;
}

#accountLogo {
  height: 32px;
  width: 32px;
  position: relative;
  left: 540px;
  bottom: 15px;
  top: -64px;
}

#voiceLogo {
  height: 28px;
  width: 19px;
  position: relative;
  top: 80px;
  left: 345px;
}

#footerDiv {
    font-family: arial, sans-sarif;
  color: #666;
  border-bottom: 1px solid #e4e4e4;
  margin-left: 30px;
  text-align: left;
  padding-bottom: 19px;
}

#footerDiv2 {
  color: #666;
  font-family: arial, sans-sarif;
  font-size: small;
}

.googleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 109px;
    height: 92px;
    width: 272px;
    position: relative;
    top: 89px;
}

.searchBar {
  width: 400px;
  height: 40px;
  padding-bottom: 2px;
  padding-top: 3px;
  margin-top: -3px;
  width: 580px;
  position: relative;
  right: 159px;
  top: 120px;
  border: 1px #eaeaea solid;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.buttons {
  position: relative;
  width: 600px;
  top: 150px;
  left: 600px;

}

.buttons button {
  display:inline-block;
   margin: 5px;
   background-color: #f4f4f4;
   height: 36px;
   line-height: 27px;
   border-radius: 2px;
   font-size: 13px;
   font-weight: bold;
   position: relative;
   right: 20px;
   color: #757575;
}

.sbib_b {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 6px 9px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 83px;
  background-color:rgb(242, 242, 242, 1);
}

#footerDiv {
  top: 4px;
}

#footerLeft li {
 display: inline-block;
 list-style-type: none;
}

#footerRight li {
  position: absolute;
  display: inline-block;
  list-style-type: none;
  position: right;
}

form {
margin: 0 auto;
height:44px;
width:250px;
}
